@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("Message")
<p>
    If you would like to subscribe to our newsletter, please go to <a href="/User/UserInformation">
        your user profile</a>, and select your subscription type.</p>
