@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderContent
{
    <link href="@Url.Content("~/Content/Css/Contact.css")" rel="stylesheet" type="text/css" />
}
<div id="contact">
    <div class="titlebar">
        <h2 class="title">
            Our address</h2>
    </div>
    <div class="map img-border">
        <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0" src="http://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=2900+Springdale+Road,+Louisville,+KY,+United+States&amp;daddr=&amp;hl=zh-CN&amp;geocode=FbGsRwIdh4fk-ilJzsWRWHNpiDHN3PNV1xms0g&amp;aq=0&amp;oq=2900+springdale&amp;sll=38.255436,-85.705376&amp;sspn=0.122397,0.150719&amp;mra=ls&amp;ie=UTF8&amp;ll=38.255436,-85.705376&amp;spn=0.122397,0.150719&amp;t=m&amp;output=embed">
        </iframe>
        <br />
    </div>
    <dl class="adr">
        <dd class="upper">
            0001 XXXX Road, XXXX, XXXXX</dd>
        <dd>
            <span class="upper">Telephone:</span><strong>+86 021 XXXXXXXX</strong></dd>
        <dd>
            <span class="upper">Fax:</span><strong>+86 021 XXXXXXX</strong></dd>
        <dd>
            <span class="upper">Email:</span><a href="#" class="link">mail@studyabroad.com</a></dd>
    </dl>
    <div class="titlebar">
        <h2 class="title">
            Leave message</h2>
    </div>
    <div>
        <form id="form" method="post">
        <fieldset>
            <label>
                <strong>Full name:</strong><input type="text" value=""></label>
            <label>
                <strong>Email:</strong><input type="text" value=""></label>
            <label>
                <strong>Message:</strong><textarea></textarea></label>
            <div class="btns">
                <a href="#" class="link-1">clear</a><a href="#" class="link-1" onclick="document.getElementById('form').submit()">send</a></div>
        </fieldset>
        </form>
    </div>
</div>
