@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderContent
{
    <link href="@Url.Content("~/Content/Css/Services.css")" rel="stylesheet" type="text/css" />
}
<div class="titlebar">
    <h2 class="title">
        Featured services</h2>
</div>
<div class="col3">
    <img src="/Content/images/Services/Services-img1.jpg" alt="" class="img-border">
</div>
<div class="col3">
    <ul class="textlist">
        <li><a href="#">Cras mattis tempor</a></li>
        <li><a href="#">tristique Sed sed</a></li>
        <li><a href="#">arc vel vehicula</a></li>
        <li><a href="#">augue aecenas</a></li>
        <li><a href="#">sagittis cursus</a></li>
    </ul>
</div>
<div class="col3">
    <ul class="textlist">
        <li><a href="#">Cras mattis tempor</a></li>
        <li><a href="#">tristique Sed sed</a></li>
        <li><a href="#">arc vel vehicula</a></li>
        <li><a href="#">augue aecenas</a></li>
        <li><a href="#">faucibus sagittis</a></li>
    </ul>
</div>
<div class="titlebar">
    <h2 class="title">
        Our services</h2>
</div>
<div class="col2">
    <div>
        <h3 class="p4">
            Business licenses <span>& Permits</span></h3>
        <p class="p4">
            Cras mattis tempor eros nec tristique. Sed sed felis arcu, vel vehicula augue aecenas
            faucibus. sagittis cursus. Fusce tincidunt, tellus eget tristique. cursus, orci
            mi iaculis sem.</p>
        <a href="#" class="link-1">read more</a>
    </div>
    <div class="top-6">
        <h3 class="p4">
            Bank account <span>resolutions</span></h3>
        <p class="p4">
            Cras mattis tempor eros nec tristique. Sed sed felis arcu, vel vehicula augue aecenas
            faucibus. sagittis cursus. Fusce tincidunt, tellus eget tristique. cursus, orci
            mi iaculis sem.</p>
        <a href="#" class="link-1">read more</a>
    </div>
</div>
<div class="col2">
    <div>
        <h3 class="p4">
            certificate of good <span>standing</span></h3>
        <p class="p4">
            Cras mattis tempor eros nec tristique. Sed sed felis arcu, vel vehicula augue aecenas
            faucibus. sagittis cursus. Fusce tincidunt, tellus eget tristique. cursus, orci
            mi iaculis sem.</p>
        <a href="#" class="link-1">read more</a>
    </div>
    <div>
        <h3 class="p4">
            Business <span>insurance</span></h3>
        <p class="p4">
            Cras mattis tempor eros nec tristique. Sed sed felis arcu, vel vehicula augue aecenas
            faucibus. sagittis cursus. Fusce tincidunt, tellus eget tristique. cursus, orci
            mi iaculis sem.</p>
        <a href="#" class="link-1">read more</a>
    </div>
</div>
