/*Define UI element style*/
body
{
    padding-top: 30px;
    height: 100%;
    display: block;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    background-color: #fff;
}

div
{
    display: block;
}

.element-invisible
{
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

hr
{
    margin: 18px 0;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
}

a
{
    color: #08c;
    text-decoration: none;
}

p
{
    /*Control the location of p element in navbar-fixed-bottom*/
    display: block;
    margin: 0 0 9px; /*top, right and left, bottom*/
}

strong, b
{
    font-weight: bold;
}

.small
{
    font-size: 11px;
}

fieldset
{
    padding: 0;
    margin: 0;
    border: 0;
}

    fieldset.fieldbox
    {
        padding: 10px;
        margin: 30px;
        border: 2px solid green;
    }

ul,
ol
{
    padding: 0;
    margin: 0 0 9px 25px;
}

    ul ul,
    ul ol,
    ol ol,
    ol ul
    {
        margin-bottom: 0;
    }

li
{
    line-height: 18px;
}

ul.unstyled,
ol.unstyled
{
    margin-left: 0;
    list-style: none;
}

ul.inline,
ol.inline
{
    margin-left: 0;
    list-style: none;
}

    ul.inline > li,
    ol.inline > li
    {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        padding-left: 5px;
        padding-right: 5px;
    }

dl
{
    margin-bottom: 18px;
}

dt,
dd
{
    line-height: 18px;
}

dt
{
    font-weight: bold;
}

dd
{
    margin-left: 9px;
}
