html, body
{
    width: 100%;
    padding: 0;
    margin: 0;
    height: 100%;
}


#content
{
   float: left;
    padding: 0 20em 4em 3em;
    background: #FFA;
}

#content #imagebox
{
    /* width: 300px;     height: 400px;*/
    background: #eee;
}

#sidebar
{
    float: right;
    width: 17em;
    margin: 0 9px 4em -18em;
    background: #cFF;
}


#footer
{
    height: 60px;
    clear: both;
    background: #ccc; /*Just for debugging*/
}
