@using MyBeerHouse.Configuration
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TheBeerHouseSection.Current.Polls.ArchiveIsPublic) 
{ 
    
    @Html.ActionLink("Public", "Index", "Poll") @:|
    @Html.ActionLink("Archived", "Index", new { controller = "Poll", archived = true })
}
<div id="polls">
    @foreach(MyBeerHouse.Models.Poll poll in Model)
    { 
        if (poll != null && !poll.IsArchived && Request.Cookies["poll_"+ poll.PollID] == null) 
        {  
        @Html.Partial("Poll/PollItem", poll);
        } 
        else 
        {  
        @Html.Partial("Poll/PollResultItem",  poll); 
        } 
        <hr />
    }
    <% Html.RenderPartial("~/Views/Shared/Pager.ascx", ViewData.Model); %>
</div>
