.box
{
    width: 326px;
    float: left;
    border: 1px solid #dbdbdb;
}
.box1
{
    float: right;
}
.box h2
{
    padding:0;
    height: 23px;
    padding: 0px 10px 0 10px;
    font-size: 12px;
    background: url(/Content/Images/Box/box_title_bg.gif) 0 0;
    border-bottom: 1px solid #dbdbdb;
    color: #444;
    overflow: hidden;
}
.box h2 span
{
    display: block;
    height: 25px;
    background: url(/Content/Images/Box/icon.gif) 0 -3px no-repeat;
    padding-left: 20px;
}
.more
{
    float: right;
    padding-left: 13px;
    font-size: 12px;
    font-weight: normal;
    color: #db8d3b;
    background: url(/Content/Images/Box/icon.gif) 0 -46px no-repeat;
}
.more:hover
{
    color: #cb6d0a;
    background: url(/Content/Images/Box/icon.gif) 0 -96px no-repeat;
}
.box_con
{
    height: 243px;
    padding: 15px 15px 0 15px;
    overflow: hidden;
}
.box_con dl
{
    height: 74px;
    overflow: hidden;
}
.box_con dl dt
{
    float: left;
    padding: 1px;
    border: 1px solid #d8d8d8;
}
.box_con dl dd
{
    float: right;
    width: 188px;
    color: #888;
    line-height: 1.5;
}
.box_con dl dd a
{
    display: block;
    margin-bottom: 3px;
    color: #05a;
}
.box_con ul
{
    margin-top: 10px;
}
.box_con ul li
{
    background: url(/Content/Box/icon.gif) 0 -300px no-repeat;
    padding-left: 20px;
    line-height: 1.8;
}
