dl.adr
{
    margin-top: 14px;
}
dl.adr dt
{
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 18px;
    color: #6e5137;
    font-weight: bold;
}
dl.adr dd span
{
    width: 80px;
    display: block;
    float: left;
    text-align: right;
    margin-right: 5px;
}

#contact_form .editor-label
{
    width:90px;    
}

#contact_form input[type=text], textarea
{
    width: 550px;
}