/* Global properties ======================================================== */
body
{
    font-family: Verdana;
    background: url(../images/bg.jpg) 0 0 repeat-x #fff;
    font-size: 12px;
}

h2
{
    font-size: 36px;
    color: #6a4c31;
    font-weight: normal;
}

h2.title
{
    /*border-bottom: 2px solid #D2D9D8;     border-top: 2px solid #D2D9D8; */
    display: inline-block;
    line-height: 20px;
    text-align: center;
}

.titlebar
{
    clear: both;
    margin: 0 auto;
    text-align: center;
}

h3
{
    color: #85A09D;
    font-family: 'Open Sans' ,sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 20px;
    text-transform: uppercase;
}

a
{
    color: #85A09D;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    text-decoration: underline; /*text-transform: uppercase;*/
}

ul
{
    list-style: none;
}
img
{
    border: 0px;
}

.img-border
{
    margin: 13px 0 0 0;
    border: #d2d9d8 1px solid;
}

/*Logo style*/
#logo span
{
    color: #6A4C31;
    font-family: 'Passion One' ,cursive;
    font-size: 36px;
    font-weight: normal;
}

#authbox
{
    color: #6A4C31;
    font-family: 'Passion One' ,cursive;
    font-size: 16px;
    font-weight: normal;
}

#authbox a
{
    color: #6A4C31;
}

#authbox a:hover
{
    color: #b4b4b4;
}

/*Menu style*/
#menu ul
{
    margin: 0;
    list-style: none;
    line-height: normal;
}

#menu li
{
    /*display the menu items inline*/
    display: inline;
    margin: 0;
    padding: 0;
}

#menu a
{
    padding: 0 20px;
    text-decoration: none;
    font-size: 136%;
    font-weight: bold;
    color: #610720;
}

#menu a:hover
{
    text-decoration: underline;
}

#menu .active a
{
    color: #FFFFFF;
}

ul.textlist li
{
    background: url("/content/images/textlistmarker.gif") no-repeat scroll 0 7px transparent;
    font-size: 11px;
    line-height: 18px;
    padding: 0 0 6px 12px;
    text-transform: uppercase;
}

/*Footer style*/
#footer
{
    overflow: hidden;
    text-align: center;
    width: 950px;
    border-top: #d2d9d8 2px solid;
}
#footer p
{
}

#footer a
{
}
